/* ------------------------*/ /* ---------->>> GLOBAL <<<-----------*/ /* ------------------------*/
*, *:before, *:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html {font-size: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {
    font: 14px/24px Roboto, Arial, Helvetica, sans-serif;
    background: #fff;
    text-align: center;
    color: #636363;
}

p, h1, h2, h3, h4, h5, h6, form, table, hr, pre, blockquote {margin: 0 0 20px;}
h1 {font-size: 36px;}
h2 {color: #000;font: italic 36px/38px Roboto, Arial, Helvetica, sans-serif;margin: 0 0 15px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
ul, ol, dl, menu {margin: 0 0 20px;}

a {text-decoration: none;color: #ed1b2e;}
    a:focus {outline: thin dotted;}
    a:active, a:hover {text-decoration: underline;}
#header {
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    /*background-color: rgba(0, 204, 0, 0.75);
    padding: 5px;
    margin: 0px 0px 8px 0px;*/
}
#header-logo img {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 55px;
}
#logout {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    color: firebrick;
    background-color: black;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
}
#music-library {
    border-radius: 25px;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.75);
    margin: 25px 5px 45px;
    padding: 6px;
}
#music-library::before {
    content: "MUSIC";
    font-size: 25px;
    display: block;
    margin:4px auto 8px;
    text-align:center;
}		
.row {
    margin: 6px auto;
    border: 0px solid black;
    background-color: white;
}
.row:nth-child(even) {
    background: rgba(0, 0, 0, 0.025);
}
.row-label {
    margin-bottom: 5px;
}
.column {
    display: inline-block;
    padding: 2px 4px;
    font-size: 18px;
}
.column-label {
    border-bottom: 1px solid black;			
    padding-left: 6px;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
.title {
    min-width: 200px;			
}
.artist {
    min-width: 175px;
}
.album {
    min-width: 175px;			
}
.genre {
    min-width: 150px;
}
#video-library {
    border-radius: 25px;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.75);
}
#video-library::before {			
    content: "MOVIES";
    font-size: 25px;
    display: block;
    margin:4px auto;
    margin-bottom: 6px;
    text-align:center;
}
.no-records {
    min-width: 500px;
    width: 100%;
    text-align: center;
    font-weight: bold;			
}
.no-records::after {
    content: "NO RECORDS FOUND!";
}
#upload_form, #video_upload_form {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 6px;
}
.form-row {
    display: grid;
    margin: 8px 12px;
    grid-column: 1 / 2;
}		
label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100px;
} 
input, button {
    grid-column: 2 / 3;	
}
.upload-form-container {
    border-radius: 25px;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 45px;
    margin-top: 25px;
    background-color: darkgray;
}
.file-link {
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
}
.file-link:hover {
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.35);
    font-weight: bold;
}